/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 25, 2021, 7:49:34 PM
    Author     : MUKUL G
*/
.banner_image{
    padding-top: 75px;
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
   
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
        
}
#banner_content{
    position: relative;
    padding-top: 6%;
    padding-bottom: 6%;
    margin-left: 200px;
    margin-top: 12%;
    margin-bottom: 12%;
    background-color: rgba(0,0,0,0.7);
    max-width: 660px;
}
footer{
    position:fixed;
    padding: 10px 0;
    text-align: center;
    background-color: #101010;
    color:#9d9d9d;
    bottom: 0;
    width: 100%;
}
.panel-margin{
    margin-top: 80px;
    margin-bottom: 80px;
}
    .items{
        width: 30%;
        display: block;
        padding: 19.24px;
        margin-bottom: 20px;
        line-height: 1.42857143;
        background-color: #fff;
        border:1px solid #ddd;
        border-radius: 4px;
        float: left;
        margin-left:1%;
        
    }
    .thumbnail{
        display: block;
        max-width: 100%;
        height: auto;
        
    }
    .caption{
        color: #000;
        padding: 0px 10px 10px;
        font-weight: bold;
        text-align: center;
    }
    * {box-sizing:border-box}


